language: node_js
cache:
  directories:
    - ~/.npm
node_js:
  - '9'
  - '8'
  # - '6'
  # - '4'
script:
  - yarn test
  - yarn check-coverage
after_success:
  - npm run travis-deploy-once "npm run semantic-release"
  - yarn check-coverage
branches:
  except:
    - /^v\d+\.\d+\.\d+$/

notifications:
  email: false
  slack:
    secure: uOSqx8VnPnnEW8HirGGe+zxHwLTC3l7tR7TUIv/YLFt0Y4jRKr7I3J8VdhwzjESVhDwaXqWliwsURMD2xA082XswtfhWsVCPr3Ovuio0qzr+pj5+3vYOWPaebkG5Tx2Ks8r/NIpi2MIiFAcSApxlLJ0BKrhojrZ6TOka0hKukILtfdZLS4JBVtKp0w9kdYEP/oXjt1eznbs7IKyvCK8ENGEPgGCNHE88VbQRBmsuODqamyZv8n+cc3U0pMihZz/rzJSxCF0lOC6m3W9puBJef7b1TZZ5MoqlQVwnngqLOwl67lrBmhMXomxb5nUlaLoN+41aAXcA38ncawEFnIcy1NZ74qEM0Cho/gyXPtQ+ghpGj8baRKTgrgRQnSiXiaHivm0rLEg/jZbLQNX44cQF7lQNT/XElqJ59B1bRcofzFHrh9xa5gQIiI2Tj7Y05wrlbLMAAtLt/xzq9jh9b1F6PU3bwfvoqsqB4Ocrj7Y+vUET35YF2Y7ToXjOjFF0eEg+l+rQR68NZl9zLRHAdJK8jUZw6up2do8qUbg9iydaOVF6s43RfKupoiz6Q53+HiDGIoBDk3nF1lM1Ql6cR9IYoGtMhEIN0/2M74xGSngwmHB25yYAzd5Xf8bDeDEtjpoENx0G8YTBXr7YRXD4QWgNDGsPYuZ6BccwinH/lnS7gfs=
